<%- contentFor("customCSS") %><%- contentFor("body") %>
<div class="container my-5 pt-5">
    <div class="card p-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="mb-4 text-center fs-4">Login</h1>
            <form action="api/login">
                <div class="mb-3">
                    <label for="username" class="form-label">username</label>
                    <input type="text" class="form-control" id="contactName" placeholder="username">
                </div>
                
                <div class="mb-3">
                    <label for="contactEmail" class="form-label">password</label>
                    <input type="password" class="form-control" id="contactEmail" placeholder="*****">
                </div>
                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
            <h6 class="align-items-center text-center text-decoration-none"> Don't have an account? <a href="/user/register">Register here</a> </h6>
        </div>
    </div>
    </div>
  </div>
<%- contentFor("scripts") %>
