<%- contentFor("body") %>
<!-- <img src="/p/images/img_1.jpg" class="d-block mx-auto mb-4" alt="Bootstrap Logo" width="72" height="57">
 -->
<div class="container login-container">
    <div class="row">
      <div class="col-md-12">
        <form class="login-form" action="/api/register">
          <h4 class="text-center mb-4">Register</h4>
          <div class="form-group form-row mt-4">
            <input type="text" class="form-control" placeholder="first name " required>
          </div>
          <div class="form-group form-row mt-4">
            <input type="text" class="form-control" placeholder="second name " required>
          </div>
          <div class="form-group form-row mt-4">
            <input type="text" class="form-control" placeholder="username " required>
          </div>
          <div class="form-group form-row mt-4">
            <input type="email" class="form-control" placeholder="email" required>
          </div>
          <div class="form-group form-row mt-4">
            <input type="password" class="form-control" placeholder="password" required>
          </div>
          <div class="form-group form-row mt-4">
            <input type="password" class="form-control" placeholder="confirm assword" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-4">Sign in</button>
        </form>
        <h6 class="align-items-center text-center text-decoration-none"> Click here to <a href="/user/login">Sign inp</a></h6>
        
        <h6 class="align-items-center text-center text-decoration-none"> Forgot yor password? <a href="/user/reset-password">Reset it here.</a></h6>
      </div>
    </div>
  </div>
  
  <%- contentFor("scripts") %>
