<%- contentFor("customCSS") %>
<%- contentFor("body") %>
<div>
    <p></p>
    <img class="img-fluid image-container" src="/p/images/img_1.jpg" alt="img_1">
    <h2>Welcome to simple SMS <small></small></h2>
    <button button class=" text-container btn btn-primary">Explore</button>
</div>


<%- contentFor("scripts") %>