<%- contentFor('customCSS') %> <%- contentFor('body') %>
<!-- Page Content -->
<div class="col-md-10">
  <h1>Welcome to Your Dashboard</h1>
  <p>
    This is a basic example of a Bootstrap layout with a top navbar and a
    sidebar.
  </p>
</div>

<%- contentFor('customScripts') %>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
