<div>
    <form action="/api/login" method="get" id="">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </form>

    <!-- <script src="/p/script/login.js"></script> -->
</div>