@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

$primary-color: #40C696;
$secondary-color: #6c757d;
$text-color: #333;
$nav-item-hover-color: lighten($primary-color, 10%);
$nav-item-active-color: darken($primary-color, 10%);
$nav-link-padding: 0.75rem 1.25rem;
$font-size-nav-links: 1rem;
$hover-text-color: #fff;

.footer-custom {
  padding: 1rem 0;
  background-color: #f8f9fa; // Light background, but you can customize it
  border-top: 1px solid #e7e7e7; // A subtle top border

  span,
  a {
    color: #6c757d; // Soft text color for a muted look
    font-size: 0.875rem; // Smaller font size for less prominence
  }

  a:hover {
    text-decoration: underline; // Simple hover effect for links
  }

  .container {
    display: flex;
    flex-direction: column; // Stack elements vertically
    align-items: center; // Center-align the content
    justify-content: center; // Center content vertically
  }
}

.my-main-content {
  margin-bottom: 0px;
}
